/*.video-js:hover .vjs-big-play-button{background:red;}

.vjs-progress-control,.vjs-progress-control:hover{height:6px;}
.video-js:hover .vjs-progress-control{height:6px;}
*/

/* CSS Document */

.video-js .vjs-big-play-button {
	border: 2px solid white;
}
.video-js .vjs-big-play-button {
	background-color: rgba(0, 0, 0, 0.3);
}
.video-js:hover .vjs-big-play-button, .video-js:active .vjs-big-play-button, .video-js .vjs-big-play-button:active, .video-js .vjs-big-play-button:focus {
	background-color: rgba(0, 0, 0, 0.7)
}

.video-js .vjs-big-play-button {
	margin-left: -1em;
    margin-top: -.75em;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;	
}
.video-js .vjs-progress-control,.video-js .vjs-progress-control:hover {
    height: 0.33em;
    top: -0.33em;
}
.video-js .vjs-time-tooltip {
top:-2.3em;
}
